
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');/*load font*/

body {
    background-color: Red;
    /*change background color*/
    font-family: 'Open Sans',serif;
}

* {
    text-align: left;
}

h1 {
    color: rgb(173, 0, 253);
    /* red, green, blue, alpha values */

    text-decoration: pink underline overline;
    text-align     : center;
    margin-top     : 10px;
    margin-bottom  : 50px;
    margin-right   : 150px;
    margin-left    : 180px;

    padding-top   : 50px;
    padding-right : 30px;
    padding-bottom: 50px;
    padding-left  : 80px;

    border-style : dashed;
    border-radius: 50px;
    border-width : 5px;
    border-color : orange;
}

#gibraltar { /*ID Selector (#id)*/
    color  : red;
    display: inline-block;
}

#apex {
    color  : red;
    display: inline;
}

#answerForSum {
    text-decoration: red line-through;
}

.address { /*Class Selector (.class)*/
    background-color: #FdF;
    margin          : auto;
}

#BGM {
    background-color: hsl(167, 88%, 47%);
    margin          : 20px 100px 20px 100px;
    border          : 1px solid #000000;
    padding         : 10px 10px 10px 10px;
    position        : static;
    left            : 10px;
}

img {
    height   : auto;
    width    : auto;
    max-width: 200px;
    min-width: 50px;
    position : relative;
    left     : 10px;
    border   : 3px solid #73AD21;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover { /*Pseudo-class Selector (e.g. p:hover)*/
    color: orange;
}

a:active {
    color: blue;
}

.placeToMeet {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
.placeToMeet > p { /*Child Combinator (element > element)*/
    background-color: hsl(0, 100%, 90%);
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.weather {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightcyan;
}
.weather *{
    background-color: white;
    width: 400px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

a[href="https://ucsd.edu/"] { /*Attribute Selector (e.g. [attribute=foo]) */
    background-color: chocolate;
}

.GroupMemberContactList {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightcyan;
}
.GroupMemberContactList *{ /*Universal Selector (*)/*/
    background-color: white;
    width: 300px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.FavouriteRestaurant {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightsteelblue;
    padding: 10px;
}
.FavouriteRestaurantItem{
    background-color: lightyellow;
    border: 5mm solid pink;
    padding: 10px;
    font-size: 15;
    text-align: center;
}

.grid-media {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: plum;
    padding: 1cm;
}

.media-item {
    background-color: powderblue;
    border: 1px dashed black;
    padding: 10px;
    font-size: 20;
    text-align: center;
}

.grid-selector {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: plum;
    padding: 1vh;
}

.grid-selector-item {
    background-color: powderblue;
    border: 0.1vw dashed black;
    padding: 2em;
    font-size: 20;
    text-align: center;
}

@media screen and (min-width: 720px) {
    body {
      background-color: lightblue;
    }
}

.meetingContainer{
    border: 1px solid black;
}

legend + ol{/*Adjacent sibling combinator (element + element)*/

    background-color: blanchedalmond;
}

h3 ~ p{ /*General sibling combinator (element ~ element)*/
    color:blueviolet;
}

li.input-list { /*Combining Two Selectors (element.class)*/
    background-color: brown;
}

h5,.address {
    background-color: cornflowerblue;
}



